# Duplicity general requirements
lockfile
# AWS S3
boto
# Azure
azure-storage
# Rackspace Cloud
pyrax
# Dropbox
dropbox
# Copy.com
urllib3
# Google Docs
gdata
# Mega
mega.py
# OneDrive
requests
requests-oauthlib
# Drive
pydrive
# SSH
paramiko
pexpect
pycrypto
# OpenStack Object Storage
python-swiftclient
python-keystoneclient
